@charset "utf-8"; 
/*=========================================全局共用属性CSS nie ===============================================*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset,figure,figcaption, table, th, td img{margin:0; padding:0; } 
a, abbr, acronym, address, big, blockquote, body, caption, cite, code, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, ins, kbd, label, legend, li, ol, p, pre, q, s, samp, small, span, strike, strong, ul {margin:0; padding:0; border:0; outline:0; vertical-align:baseline; }
body{font-family:"Microsoft YaHei","微软雅黑"; font-size:14px; text-align:left; margin:0 auto; line-height:24px; background:#fff; color:#333; font-weight:400; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block; }
*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
button{border-radius:0px;-webkit-border-radius:0px;}
input{/*-webkit-appearance:none;*/border-radius:0;}
img{border:0; vertical-align:middle; }/*让链接里的 img 无边框；清除图片间距*/
a:hover img{filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8}
ul,li{list-style:none; } 
button{cursor:pointer; } /*这个可以不用*/
.clear{clear:both; }
.fl{float:left; }
.fr{float:right; }
.tl{text-align:left; }
/*全局的字体链接*/
/*a{display: block;}*/
a:link,a:visited{color:#333; text-decoration:none; }
a:hover,a:active{color:#f01b28; text-decoration:none; }
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0px; }
.main{clear:both; overflow:hidden; width:1100px; margin:0 auto;}
input{  
    outline-color: invert ;  
    outline-style: none ;  
    outline-width: 0px ;  
    border: none ;  
    border-style: none ;  
    text-shadow: none ;  
    -webkit-appearance: none ;  
    -webkit-user-select: text ;  
    outline-color: transparent ;  
    box-shadow: none;  
}  
.text_over{
    display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;/*适用IE*/  -o-text-overflow:ellipsis;/*适用opera*/-moz-binding: url('ellipsis.xml#ellipsis');/*适用火狐(firefox通过XUL实现效果)*/
}